.navbar {
  display: flex;
  gap: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  align-items: center;
  padding-left: 10px;
  border-top: 0.5px solid #ddd;
}

.profilePic {
  display: flex;
  height: 60px;
  align-items: center;
}
.profilePic > img {
  border-radius: 100%;
  height: 45px;
}

.navbar > a{

    height: 24px;
}

.chatBarOpen , .chatBarClose {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.chatBarOpen{
  width: calc(100% - 250px );
}

.chatInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 10px;
}

.sendBtn{
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: #007bff;
}

.sendBtn:hover{
  color: #0056b3;
}

.fileAttachLabel {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #007bff;
  cursor: pointer;
  margin-right: 15px;
}

.fileAttachLabel:hover {
  color: #0056b3;
}

.fileInput {
  display: none;
  margin-right: 10px;
}


.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height:calc(100vh - 190px);
  overflow-y: auto; 
  padding-left: 10px;
  padding-right: 10px;
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
}

.message-content {
  margin-bottom: 5px;
}

.message-time {
  font-size: 0.8rem;
  color: #888;
}

.sent {
  align-self: flex-end;
  background-color: #DCF8C6; /* light green */
}

.received {
  align-self: flex-start;
  background-color: #E0E0E0; /* light grey */
}


/* New styles for the image preview overlay */
.imagePreviewOverlayOpen , .imagePreviewOverlayClosed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.imagePreviewOverlayOpen{
  width: calc(100% - 250px)
}

.imagePreviewContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
}

.slider{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.imagePreview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100px;
  max-height: 60vh;
  object-fit: cover;
  margin-bottom: 20px;
}

.imagePreviewButtons {
  display: flex;
  gap: 10px;
}

.closePreviewButton,
.sendPreviewButton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.closePreviewButton {
  background-color: #f44336;
  color: #fff;
}

.sendPreviewButton {
  background-color: #4caf50;
  color: #fff;
}

/* Styles for the sent image in the chat window */
.message img {
  min-width: 200px; 
  max-width: 300px; 
  min-height: 140px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px; 
}

.imageSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.slick-next::before, .slick-prev::before {
  content: none;
}