.container{
    height: calc(100vh - 120px);
}
.backBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 8px;
    padding-right: 18px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-darker);
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .error{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-darker);
    font-size: 30px;
  }