@import url('../../../vars.css');

.container{
    margin: 10px 20px;
    background-color: #fff;
    width: calc(100% - 40px);
    border-radius: 15px;
    font-size: 18px;
}

.petID > input,
.phoneNumber > input {
  border: none;
  border-bottom: 1px solid darkgray;
}

.inputFields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--color-dark);
    padding-top: 20px;
  }

  .inputFields>div{
    flex-grow: 1;
    width: 100%;
  }

  .petInfo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--color-dark);
  }

  .petInfo>div{
    width: 100%;
    flex-grow: 1;
  }

  .table{
    overflow: hidden;
    border-radius: 10px;
    border-collapse: separate;
    font-size: 20px;
    width: 90%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    background-color: #fff;
    padding-left: 10px;
  
  }
  
  .td, .th {
    min-width: 100px;
    max-width: 300px;
    white-space: nowrap;
    text-align: center;
    padding: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
  }
  
  
  .thead{
    text-align: left;
    
    border-bottom: 1px solid #828282;
    background-color: var(--color-dark);
    color:#fff;
  }
  
  .th{
    text-align: left;
   
  }
  
  .tbody > .tr:hover{
    background-color: #f5f5f5;
  }
  
  .td:first-child, .th:first-child{
    padding-left: 20px;
  }

  .submitBtn {
    width: 80px;
    padding: 8px;
    border-radius: 50px;
    border: none;
    background-color: var(--color-darker);
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: scale 0.3s, transform 0.3s;
  }

  .submitBtn:hover{
    cursor: pointer;
  }
  
  .submitBtn:active {
      transform: scale(0.95);
      background-color: #5d2d61; 
  }
  
  .submitBtnContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
      padding-top: 20px;
  }
 