@import url('../../../vars.css');

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.subContainer{
    display: flex;
    flex-direction: column;
    width: 96%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.subContainer > h2{
    font-weight: normal;
    color: var(--text-dark);
    padding-left: 30px;
    padding-top: 14px;
}