

:root {
    --color-dark: #66316A;
    --color-darker: #4A234D;
    --color-header: #A745AF; 
    --background-color: #BBA6DB; 
    --text-dark: #66316A; 
    --text-light: #998FC7;
    --background-light: #FFF0F4;
  }